<div class="box" [ngStyle]="styleObject()"></div>
<div class="speed">
  <form #speedId [formGroup]="speedForm" (ngSubmit)="onSubmit()">
    <label for="spd">Set speed for the moving box (from 0 to 10)</label>
    <input id="spd" type="text" formControlName="speed">
    <div *ngIf="speedForm.controls.speed.invalid && (speedForm.controls.speed.dirty || speedForm.controls.speed.touched)" class="error">
      <div *ngIf="speedForm.controls.speed.errors.pattern">Please enter a valid speed, it must be a number such as: 1, 3, 0.5, 2.3</div>
      <div *ngIf="speedForm.controls.speed.errors.max">Please enter a valid speed, the maximum speed is 10</div>
      <div *ngIf="speedForm.controls.speed.errors.min">Please enter a valid speed, the minimum speed is 0</div>
    </div>
  </form>
</div>